[Unit]
Description=Payment Service

[Service]
User=root
WorkingDirectory=/app
Environment=CART_HOST=cart.devopsb71.icu
Environment=CART_PORT=8080
Environment=USER_HOST=user.devopsb71.icu
Environment=USER_PORT=8080
Environment=AMQP_HOST=rabbitmq.devopsb71.icu
Environment=AMQP_USER=roboshop
Environment=AMQP_PASS=ROBOSHOP_USER_PASSWORD

ExecStart=/usr/local/bin/uwsgi --ini payment.ini
ExecStop=/bin/kill -9 $MAINPID
SyslogIdentifier=payment

[Install]
WantedBy=multi-user.target